/*
** TIPOGRAFÍA
*/

@font-face {
    font-family: "Futura Book";
    src: url('../fonts/Futura-Book-Regular.otf');
}

@font-face {
  font-family: "D-DIN";
  src: url('../fonts/d-din/D-DIN-Bold.otf')format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "D-DIN";
  src: url('../fonts/d-din/D-DIN.otf')format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*
** REGLAS GENERALES
*/

body {
    background-color: #fff!important;
}

h1, h2, h3, h4, h5, p, a, ul, li, ::placeholder {
    font-family: "D-DIN", Montserrat, Arial, sans-serif!important;
}

p {
    font-size: 1.2em;
}

h2 {
    font-size: 2.5em!important;
}

a {
    text-decoration: none!important;
}

.container {
  max-width: 960px;
}

section {
    margin: 7em 0;
}

img {
    width: 100%;
}

hr {
    margin-bottom: 4em!important;
}

.display-none {
    display: none;
}

.table>tbody {
    background-color: #fff;
}

/*
** MARGIN Y PADDING PERSONALIZADO
*/

.padding-1-vertical {
    padding: 1em 0!important;
}

.padding-3-vertical {
    padding: 3em 0!important;
}

.padding-6-vertical {
    padding: 6em 0!important;
}

.margin-bottom-3 {
    margin-bottom: 3em!important;
}

.margin-top-3 {
    margin-top: 3em!important;
}


/*
** HEADER
*/

.site-header {
    background-color: #000;
    z-index: 1000;
}

.site-header__top {
    padding: 1em 0;
    text-transform: uppercase;
}

.site-header__top hr {
    color: #fff;
}

.site-header__top__area {
    text-align: right!important;
}

.site-header__top__area a {
    padding: 2em;
    border: 1px solid #8e8e8e;
    letter-spacing: 0.2em;
    font-size: 0.7em;
    margin: 1em 1em 0 1em;
}

.site-header__top__area a:hover {
    border: 1px solid #fff;
}

.site-header a {
  color: #8e8e8e;
  transition: .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.logo {
    font-family: "Futura Book","Helvetica Neue",Helvetica,Arial,sans-serif!important;
    color: #fff;
    top: 40px;
    letter-spacing: 9.4px;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 400;
}

.flags img {
    width: auto!important;
    margin: 1em 1em 0 1em;
}

/*
** HERO BANNER
*/

.banner-hero {
    padding: 16em 0;
    margin: -1em 0!important;
}

.banner-hero h1 {
    text-align: center;
    font-family: "D-DIN", Montserrat, Arial, sans-serif!important;
    font-weight: bold;
    font-size: 5em;
    text-transform: uppercase;
    color: #fff;
}


/*
** SECCIONES HOME
*/

.display-5 a {
    font-size: 3rem;
    font-family: "D-DIN", Montserrat, Arial, sans-serif;
    transition: .15s ease-in-out;
}

.display-5.light a {
    color: #fff;
}

.display-5.light a:hover {
    color: #a6a6a6;
}

.display-5.dark a {
    color: #000;
}

.display-5.dark a:hover {
    color: #8e8e8e;
}

.bg-light {
    background-color: #eaeaea!important;
}

.bg-light.shadow-sm.mx-auto.unete-socios {
    background-image: url('../images/unete-socios-home.jpg')!important;
    background-size: cover;
    background-position: top center;
}

.bg-dark.shadow-sm.mx-auto.reservar-actividad {
    background-image: url('../images/reservar-actividad-home.jpg')!important;
    background-size: cover;
    background-position: center center;
}

/*
** FOOTER
*/

footer .logo {
    color: #000;
    font-size: 1.5em;
}

footer .icons a {
    padding-right: 1em!important;
}

/*
** PÁGINAS INTERIORES
*/

.banner-hero.inner-pages {
    padding: 8em 0;
}

.inner-text {
    margin-bottom: 1.7em;
}

/*
** AREA SOCIO
*/
.bg-special-dark {
    background-color: var(--light-grey)!important;
}

select {
    padding: 1em 2em;
    border-radius: 0;
    background-color: #ecf0f6;
}

.custom-select {
  font-family: 'D-DIN';
  display: block;
  width: auto!important;
  font-size: 1.2em;
  background-color: var(--light-blue-grey)!important;
}

.seleccion-actividad {
    text-align: center;
    margin: 2em 0!important;
}

.parallax {
    background-image: url('../images/parallax.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0;
}

.parallax h2 {
    color: #fff!important;
    text-align: center;
}


/*
** AREA ADMIN
*/
.nav-pills .nav-link.active {
    background-color: var(--dark-grey)!important;
    color: #fff;
    border-radius: 0;
}

.nav-pills .nav-link:hover {
    background-color: var(--light-grey)!important;
    border-radius: 0;
}

.nav-pills .nav-link, .nav-tabs .nav-link {
    color: var(--dark-grey);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: var(--light-grey)!important;
    border-radius: 0;
}

.nav-tabs .nav-link:hover {
    border-radius: 0;
}

button.w-100.btn.btn-lg.btn-primary.button-dark.admin {
    padding: 0.5em!important;
}

tr.row-hidden {
    border-color: #fff!important;
}

.table td, .table th {
    padding: 0.2em !important;
    vertical-align: baseline!important;
}

.tab-pane h2 {
    margin: 1em 0 0.5em 0!important;
}

/*
** FORMULARIOS
*/

input {
    width: 100%;
    border-radius: 0;
    border: 1px solid #919191;
    padding: 0.5em;
}

::placeholder {
  font-size: 0.9em;
  font-style: italic;
}

.form-field {
    margin: 0.5em 0 1em 0;
}

.form-field p {
    text-transform: uppercase;
    font-family: "D-DIN", Montserrat, Arial, sans-serif;
}

.button-dark {
    margin: 1.5em 0;
    padding: 2em 0!important;
    background-color: #000!important;
    border-radius: 0!important;
    border: 1px solid #000!important;
    font-family: "D-DIN", Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em!important;
    letter-spacing: 0.2em;
    transition: .15s ease-in-out;
}

.button-dark:hover {
    background-color: #f0f0f0!important;
    color: #000!important;
}

.message {
    padding: 1em 0 0.3em 0;
    margin: 1em 0;
    text-align: center;
}

.message.msg-ok {
    background-color: #7ed77e;
}

.message.msg-fail {
    background-color: #ff2d2d;
}