/*
** TIPOGRAFÍA
*/

@font-face {
    font-family: "Futura Book";
    src: url('../fonts/Futura-Book-Regular.otf');
}

@font-face {
  font-family: "D-DIN";
  src: url('../fonts/d-din/D-DIN-Bold.otf')format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "D-DIN";
  src: url('../fonts/d-din/D-DIN.otf')format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*
** REGLAS GENERALES
*/

body {
    background-color: #fff!important;
}

h1, h2, h3, h4, h5, p, a, ul, li, ::placeholder {
    font-family: "D-DIN", Montserrat, Arial, sans-serif;
}

p {
    font-size: 1.2em;
}

h2 {
    font-size: 2.5em!important;
}

a {
    text-decoration: none!important;
}

.container {
  max-width: 960px;
}

section {
    margin: 7em 0;
}

img {
    width: 100%;
}

hr {
    margin-bottom: 4em!important;
}

/*
** HEADER
*/

.site-header {
    background-color: #000;
    z-index: 1000;
}

.site-header__top {
    padding: 1em 0;
    text-transform: uppercase;
}

.site-header__top hr {
    color: #fff;
}

.site-header__top__area {
    text-align: right!important;
}

.site-header__top__area a {
    padding: 2em;
    border: 1px solid #8e8e8e;
    letter-spacing: 0.2em;
    font-size: 0.7em;
    margin: 1em 1em 0 1em;
}

.site-header__top__area a:hover {
    border: 1px solid #fff;
}

.site-header a {
  color: #8e8e8e;
  transition: .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.logo {
    font-family: "Futura Book","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    top: 40px;
    letter-spacing: 9.4px;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 400;
}

/*
** HERO BANNER
*/

.banner-hero {
    padding: 16em 0;
    margin: -1em 0!important;
}

.banner-hero h1 {
    text-align: center;
    font-family: "D-DIN", Montserrat, Arial, sans-serif;
    font-weight: bold;
    font-size: 5em;
    text-transform: uppercase;
    color: #fff;
}


/*
** SECCIONES HOME
*/

.display-5 a {
    font-size: 3rem;
    font-family: "D-DIN", Montserrat, Arial, sans-serif;
    transition: .15s ease-in-out;
}

.display-5.light a {
    color: #fff;
}

.display-5.light a:hover {
    color: #a6a6a6;
}

.display-5.dark a {
    color: #000;
}

.display-5.dark a:hover {
    color: #8e8e8e;
}

.bg-light {
    background-color: #eaeaea!important;
}

.bg-light.shadow-sm.mx-auto.unete-socios {
    background-image: url('../images/unete-socios-home.jpg')!important;
    background-size: cover;
    background-position: top center;
}

.bg-dark.shadow-sm.mx-auto.reservar-actividad {
    background-image: url('../images/reservar-actividad-home.jpg')!important;
    background-size: cover;
    background-position: center center;
}

/*
** FOOTER
*/

footer .logo {
    color: #000;
    font-size: 1.5em;
}

/*
** PÁGINAS INTERIORES
*/

.banner-hero.inner-pages {
    padding: 8em 0;
}

.inner-text {
    margin-bottom: 1.7em;
}

/*
** FORMULARIOS
*/

input {
    width: 100%;
    border-radius: 0;
    border: 1px solid #919191;
    padding: 0.5em;
}

::placeholder {
  font-size: 0.9em;
  font-style: italic;
}

.form-field {
    margin: 0.5em 0 1em 0;
}

.form-field p {
    text-transform: uppercase;
    font-family: "D-DIN", Montserrat, Arial, sans-serif;
}

.button-dark {
    margin: 1.5em 0;
    padding: 2em 0!important;
    background-color: #000!important;
    border-radius: 0!important;
    border: 1px solid #000!important;
    font-family: "D-DIN", Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.8em!important;
    letter-spacing: 0.2em;
    transition: .15s ease-in-out;
}

.button-dark:hover {
    background-color: #f0f0f0!important;
    color: #000!important;
}

.message {
    padding: 1em 0 0.3em 0;
    margin: 1em 0;
    text-align: center;
}

.message.msg-ok {
    background-color: #7ed77e;
}

.message.msg-fail {
    background-color: #ff2d2d;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
